.about {
  &__container {
    margin: 1rem auto 1.7rem auto;
    @include atMedium {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }

    @include atMedium {
    }

    @include atLarge {
    }
  }
  &__card {
    max-width: 300px;
    margin: 0 0 3rem 0;
    display: block;
    margin: 2rem auto;

    @include atMedium {
    }
  }

  &__title {
    text-align: center;
    @include atMedium {
    }
  }
  &__icon {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.4rem;

    @include atMedium {
    }
  }

  &__heading {
    text-align: center;
    @include atMedium {
    }
  }

  &__text {
    text-align: center;
    @include atMedium {
    }
  }
}
