.about {
  &__container {
    // margin: 1rem auto 1.7rem auto;
    // max-width: 400px;
    @include atMedium {
    }

    @include atLarge {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__card {
    max-width: 300px;
    margin: 0 auto 3rem auto;
    display: block;

    @include atMedium {
    }
  }

  &__title {
    @include atMedium {
    }
  }
  &__icon {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.4rem;

    @include atMedium {
    }
  }

  &__heading {
    text-align: center;
    @include atMedium {
    }
  }

  &__text {
    @include atMedium {
    }
  }
}
