.home {
  &__title {
    font-size: 36px;
    margin-bottom: 1rem;

    @include atMedium {
      font-size: 3rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 1.8rem 0;
    @include atMedium {
      display: block;
      width: 500px;
      margin: 5.5rem auto 2rem auto;
    }
  }

  &__text {
    display: block;
    margin: 1rem auto 1.7rem auto;
    max-width: 400px;

    @include atMedium {
      margin: 1rem auto 3rem auto;
    }
  }

  &__buttons {
    margin-top: 2rem;
    button:first-child {
      margin-right: 1rem;
    }
  }

  &__grid {
    @include atLarge {
      width: 100%;
      max-width: 1200px;
      height: calc(100vh - 180px);
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
