.home {
  // height: calc(100vh - 70px);
  &__title {
    font-size: 36px;
  }
  &__image {
    width: 100%;
    margin: 1.8rem 0;
  }

  &__text {
    display: block;
    margin: 1rem auto 1.7rem auto;
    max-width: 500px;

    @include atMedium {
      margin: 3rem 0;
    }
  }

  &__buttons {
    button {
      margin-right: 1rem;
    }
  }
}
